/* Para Celular e Tablets vertical */

.col-s-1 {
    width: 8.33%;
}

.col-s-2 {
    width: 16.66%;
}

.col-s-3 {
    width: 25%;
}

.col-s-4 {
    width: 33.33%;
}

.col-s-5 {
    width: 41.66%;
}

.col-s-6 {
    width: 50%;
}

.col-s-7 {
    width: 58.33%;
}

.col-s-8 {
    width: 66.66%;
}

.col-s-9 {
    width: 75%;
}

.col-s-10 {
    width: 83.33%;
}

.col-s-11 {
    width: 91.66%;
}

.col-s-12 {
    width: 100%;
}


/* Geral */

.flex-container-s {
    display: flex;
}

.displayNone-s {
    display: none !important;
}

.flex-row-s {
    flex-direction: row;
}

.flex-column-s {
    flex-direction: column;
}

.align-items-center-s {
    align-items: center;
}


/* Sections */

.section-titulo {
    font-size: 22px;
}


/* Divisora */

#divider {
    margin-bottom: 30px;
}


/* Banner Principal */

.carousel-item {
    height: 350px;
}

.carousel-item img {
    height: 150%;
}

.headLine {
    width: 95%;
}

.welcomeTitulo {
    font-size: 31px;
}


/* Section de Ofertas */

.ofertaBloco {
    padding-block: 5px;
}

.iconWrapper {
    font-size: 60px;
    line-height: 60px;
    padding: 20px;
}

.iconWrapper:hover {
    font-size: 60px;
    line-height: 60px;
    padding: 20px;
}

.iconMoney {
    width: 60px !important;
}

.ofertaText {
    font-size: 15px;
}

.ofertaTitulo {
    padding-top: 15px;
    font-size: 20px;
}


/* Footer */

.footerTitulo {
    font-size: 27px;
}

footer {
    padding: 20px;
}


/* Footer */

.footer-centro {
    text-align: center;
}

.footer-baixo {
    text-align: center;
}