#productsNavbar {
    font-size: 12px;
    gap: 12px;
}

.card {
    width: 90%;
}

.itemRow #tamanhos .form-option-label {
    height: auto;
    line-height: 1.3em;
    padding: 8px 5px 8px 5px;
}

.modal select {
    font-size: 0.8em;
}

@media (max-width: 400px) {
    .tamanhosSize {
        padding-left: 4px;
        font-size: 0.7em !important;
    }
}